{% extends "base.html" %}
{% block title %}Смена пароля{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          Смена пароля
        </div>
        <div class="card-body">
          {% include 'users/includes/auth_form_errors.html' %}

          <form method="post" action="{% url 'users:password_change' %}">
            {% include 'users/includes/auth_form.html' %}
            <div class="col-md-6 offset-md-4">
              <button type="submit" class="btn btn-primary">
                Сменить пароль
              </button>
            </div>
          </form>
        </div> <!-- card body -->
      </div> <!-- card -->
    </div> <!-- col -->
  </div> <!-- row -->
{% endblock %}